<!-- TotalLikes.component.html -->
<app-encabezado></app-encabezado>

<div class="container mt-5">
  <h1 class="text-center">Total de me gusta</h1>
  <div class="col-md-8 mt-4 mx-auto border rounded p-3" style="background-color: #eaf1f4; border-width: 2px; border-color: #ced4da;">
    <div class="row text-center mb-3">
      <!-- Amigo 2 -->
      <div class="col-md-12 mb-3">
        <img src="https://previews.123rf.com/images/tigatelu/tigatelu1303/tigatelu130300057/18586437-p%C3%A1jaro-con-el-coraz%C3%B3n-del-amor.jpg" alt="Amigo 2" class="img-fluid rounded-circle" style="max-width: 150px; margin: 0 auto;">
        <h4>Yaseny Mendoza Vera</h4>
        <p>  Yaseny Mendoza Vera recibió un total de 30.6k me gusta en todas sus recetas de cocina nutritiva.</p>
        <button class="btn btn-secondary btn-sm" style="width: 8rem; height: 2.5rem; font-size: 18px;" (click)="redirectToPerfil()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<app-pie-de-pagina></app-pie-de-pagina>
