<!-- app-header.component.html -->
<header>
    <div class="logo">
      <!-- Puedes reemplazar el texto con la etiqueta de imagen o el contenido del logo que prefieras -->
      <img src="../../../assets/images/logo.jpeg" alt="Logo de la Aplicación">
    </div>
    <div>
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/about">Agregar receta</a></li>
            <li><a routerLink="/about">Perfil</a></li>
            <!-- Agrega más enlaces según sea necesario -->
          </ul>

    </div>
    
  </header>
  