<!-- profile.component.html -->
<app-encabezado></app-encabezado>
<div class="container mt-4 mb-4 " >
  <div class="card" style="background-color: #f3f8fa;">
    <div class="card-header text-center">
      <h3>Mi Perfil</h3>
    </div>
    <div class="card-body">
      <div class="row text-center align-items-center">
        <div class="col-md-12">
          <img src="https://lapi.com.mx/web/image/product.template/5449/image_1024?unique=b4fa6e7" alt="Imagen de perfil" class="img-fluid rounded-circle" style="max-width: 150px; margin: 0 auto;">
        </div>
        <div class="col-md-12 mt-3">
          <h4>Yaseny Mendoza Vera</h4>
          <p class="mb-0">Yaseny@tecsup.edu.pe</p>
          <p class="mb-0">Las mejores recetas de cosina para engreir a tu familia</p>
          <div class="col-md-12 mt-3">
            <a routerLink="/edit-perfil" class="btn btn-danger">Editar perfil</a>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <div class="mx-2" (click)="mostrarSeguidores()">
              <p class="mb-0">1,456</p>
              <p class="mb-0">Seguidores</p>
            </div>
            <div class="col-md-2 mx-2" (click)="mostrarSeguidos()">
              <p class="mb-0">46</p>
              <p class="mb-0">Siguiendo</p>
            </div>
            <div class="mx-2" (click)="mostrarLike()">
              <p class="mb-0">30.6k</p>
              <p class="mb-0">Me gusta</p>
            </div>
          </div>          
        </div>
        <div class="col-md-12 mt-4">
          <a routerLink="/add-amigos" class="btn btn-danger">Seguir amigos</a>
        </div>
        <div class="col-md-12 mt-5" style="background-color: #e7eff9;">
          <!-- Filas de amigos existentes -->
          <div class="row text-center mb-3 image-box">
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida12.jpg" alt="Amigo 1" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Comida saludable</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida2.jpg" alt="Amigo 2" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Comida saludable</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida8.jpg" alt="Amigo 3" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Comida saludable</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida11.jpg" alt="Amigo 4" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Comida saludable</p>
            </div>
          </div>
          <div class="row text-center mt-3 image-box">
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida10.jpg" alt="Amigo 5" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Ensalada de verduras</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida6.jpg" alt="Amigo 6" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Ensalada de verduras</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida10.jpg" alt="Amigo 7" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Ensalada de verduras</p>
            </div>
            <div class="col-md-3 image-box-item">
              <img src="assets/images/comida6.jpg" alt="Amigo 8" class="img-fluid rounded-square bordered-image animate__animated animate__zoomIn" style="max-width: 220px; margin: 0 auto;">
              <p>Ensalada de verduras</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>


<app-pie-de-pagina></app-pie-de-pagina>