<footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-sections-container">
        <!-- Primera Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo" itemprop="about">
                    <header>
                        <h2 class="in">Quiere saber mas</h2>
                    </header>
                    <p class="in">Disfruta de las mejores recetas de cosina, prepara con tu familia</p>

                    <h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> 903392728</a></h4>
                    <h4><a href="culinary-captures@gmail.com"><i class="fas fa-envelope"></i> culinary-captures@gmail.com</a></h4>
                    <h4><a href="#"><i class="fas fa-map-marker-alt"></i> Perú, La Libertad, Trujillo</a></h4>
                </div>
            </div>
        </div>

        <!-- Segunda Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header>
                        <h2>Enlaces</h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="blog.html">Detalles</a></li>
                        <li><a href="nosotros.html">Perfil</a></li>  
                    </ul>
                </div>
            </div>
        </div>

        <!-- Tercera Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header>
                        <h2>Descubre más</h2>
                    </header>
                    <div class="footer-link">
                       <p>Acá puedes subir tus recetas</p>
                    </div>
                    <div class="footer-link">
                        <p>Si eres aficionado en la cosina, </p>
                    </div>
                    <div class="footer-link">
                       <p>Y si te gusta aprender nuevos preparativos</p>
                    </div>
                    <div class="footer-link">
                        <p>Revisa la receta de tu preferencia</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cuarta Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header>
                        <h2>Contacto</h2>
                    </header>
                    <section class="quick-contact">
                        <input type="email" name="email" placeholder="Tu Email*">
                        <textarea placeholder="Escribe tu mensaje*"></textarea>
                        <button>Enviar mensaje</button>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Iconos de redes sociales -->
    <div class="footer-second-s">
        <div class="container">
            <div class="action-icons mt-3 text-center">
                <i class="icon-like fa fa-heart"></i> <!-- Ícono para "Me gusta" con clase personalizada "icon-like" -->
                <i class="icon-save fa fa-bookmark"></i> <!-- Ícono para guardar con clase personalizada "icon-save" -->
                <i class="icon-save fa fa-Facebook"></i>
              </div>
        </div>
    </div>
    
    <!-- Pie de página -->
    <p class="p">&copy; 2023 TuriWeb@gmail.com. Todos los derechos reservados.| <a href="/contacto">903392728</a></p>
</footer>