<footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-sections-container">
        <!-- Primera Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header class="fu">
                        <h2>Quiere saber mas</h2>
                    </header>
                    <p>Disfruta de las mejores recetas de cosina, prepara con tu familia</p>
                    <p>903392728</p>
                    <p>culinary.captures@gmail.com</p>
                    <P>Victor Larco | Trujillo | La Libertad</P>

                </div>
            </div>
        </div>

        <!-- Segunda Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header class="fu">
                        <h2>Enlaces</h2>
                    </header>
                    <ul>
                        <li><a routerLink="/">Contenido Principal</a></li>
                        <li><a routerLink="/registrar-receta">Agregar Receta</a></li>
                        <li><a routerLink="/details', item.detailsId">Detalles</a></li>
                        <li><a routerLink="/perfil">Perfil</a></li>
                        <li><a routerLink="/edit-perfil">Editar Perfil</a></li>
                        <li><a  routerLink="/registrar-usuario">Registar Usuario</a></li>
                        <li><a routerLink="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Tercera Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header class="fu">
                        <h2>Descubre más</h2>
                    </header>
                    <div class="footer-link">
                       <p>Acá puedes subir tus recetas</p>
                    </div>
                    <div class="footer-link">
                        <p>Si eres aficionado en la cosina, </p>
                    </div>
                    <div class="footer-link">
                       <p>Y si te gusta aprender nuevos preparativos</p>
                    </div>
                    <div class="footer-link">
                        <p>Revisa la receta de tu preferencia</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cuarta Columna -->
        <div class="footer-secti">
            <div class="con">
                <div class="footer-bo">
                    <header class="fu">
                        <h2>Contacto</h2>
                    </header>
                    <section class="quick-contact">
                        <input type="email" name="email" placeholder="Tu Email*">
                        <textarea placeholder="Escribe tu mensaje*"></textarea>
                        <button>Enviar mensaje</button>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Iconos de redes sociales -->
    <div class="footer-second-s">
        <div class="container">
          <div class="action-icons mt-3 text-center">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram "></i>
            <i class="fab fa-tiktok "></i>
            <i class="fab fa-twitter "></i>
            <i class="fab fa-whatsapp "></i>
          </div>
        </div>
      </div>
    
    <!-- Pie de página -->
    <p class="p">&copy; 2023 culinary.captures@gmail.com. Todos los derechos reservados.| <a href="/contacto">903392728</a></p>
</footer>